{% extends "::layout.html.twig" %}

{% block body %}

            <header>
              <hgroup>
                <h1>Accueil</h1>
              </hgroup>
            </header>
            <div class="main text-center">
              <br />
              <h1 class="nav-header">Cotisants</h1>
              <div class="span1 btn">
                <div><i class="icon-list"></i></div>
                Liste des cotisants
              </div>

              <div class="span1 btn">
                <div><i class="icon-plus"></i></div>
                Ajouter un cotisant
              </div>
            </div>
{% endblock %}