{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block menu %}
  {% render "ThiktakCoreBundle:User:menu" %}
{% endblock %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Users</h1>
      <h2>List</h2>
    </hgroup>
    <aside>
      <ul>
        <li>
          <a href="{{ path('user_new') }}"><i class="icon-plus"></i></a>
        </li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                  <a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity }}</a>
                </td>
                <td>{% for group in entity.groups %} <span>{{ group }}</span> {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </article>
</section>
{% endblock %}