{% extends "ThiktakUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <p class="alert alert-error" style="margin: 10%">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}