
            <ul>
              <li><a href="{{ path('student') }}"><i class="icon-list"></i> Liste des étudiants</a></li>
              <li><a href="{{ path('student_new') }}"><i class="icon-plus"></i> Ajouter un étudiant</a></li>
              <li><a href="#"><i class="icon-upload"></i> Importer</a></li>
              <li><a href="#"><i class="icon-filter"></i> Année <span class="pull-right">2012</span></a></li>
            </ul>