
            <ul>
              <li><a href="{{ path('member') }}"><i class="icon-list"></i> Liste des cotisants</a></li>
              <li><a href="{{ path('member_new') }}"><i class="icon-plus"></i> Ajouter un cotisant</a></li>
              <li><a href="#"><i class="icon-upload"></i> Importer</a></li>
              <li><a href="#"><i class="icon-filter"></i> Année <span class="pull-right">2012</span></a></li>
            </ul>